root = true

[*]
end_of_line = lf
charset = utf-8
insert_final_newline = false
trim_trailing_whitespace = true

[*.{json,js,css}]
indent_style = space
indent_size = 2

[*.{md,rs}]
indent_style = space
indent_size = 4

[*.lua]
indent_style = tab