[submodule "plugin/Packages/Roact"]
	path = plugin/Packages/Roact
	url = https://github.com/roblox/roact
[submodule "plugin/Packages/Flipper"]
	path = plugin/Packages/Flipper
	url = https://github.com/reselim/flipper
[submodule "plugin/Packages/Promise"]
	path = plugin/Packages/Promise
	url = https://github.com/evaera/roblox-lua-promise
[submodule "plugin/Packages/t"]
	path = plugin/Packages/t
	url = https://github.com/osyrisrblx/t
[submodule "plugin/Packages/TestEZ"]
	path = plugin/Packages/TestEZ
	url = https://github.com/roblox/testez
