[submodule "plugin/modules/roact"]
	path = plugin/modules/roact
	url = https://github.com/Roblox/roact.git
[submodule "plugin/modules/testez"]
	path = plugin/modules/testez
	url = https://github.com/Roblox/testez.git
[submodule "plugin/modules/lemur"]
	path = plugin/modules/lemur
	url = https://github.com/LPGhatguy/lemur.git
[submodule "plugin/modules/promise"]
	path = plugin/modules/promise
	url = https://github.com/LPGhatguy/roblox-lua-promise.git
[submodule "plugin/modules/t"]
	path = plugin/modules/t
	url = https://github.com/osyrisrblx/t.git
[submodule "plugin/modules/rbx-dom"]
	path = plugin/modules/rbx-dom
	url = https://github.com/LPGhatguy/rbx-dom
