# Rust output directory
/target

# Headers for clibrojo
/include

# Roblox model and place files in the root, used for debugging
/*.rbxm
/*.rbxmx
/*.rbxl
/*.rbxlx

# Sourcemap for the Rojo plugin (for better intellisense)
/sourcemap.json

# Roblox Studio holds 'lock' files on places
*.rbxl.lock
*.rbxlx.lock

# Snapshot files from the 'insta' Rust crate
**/*.snap.new

# Macos file system junk
._*
.DS_STORE

# JetBrains IDEs
/.idea/
