.md-typeset__table {
  width: 100%;
}

.feature-image img {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}

.codehilite {
  border: 1px solid rgba(0, 0, 0, 0.2);
  box-shadow: 1px 1px 4px rgba(0, 0, 0, 0.2);
}